*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-purple: #3d0c4f;
  --color-purple-dark: #1C0524;
  --color-chartreuse: #8cb426;
  --color-bg-primary: #3d0c4f;
  --color-bg-second: #444;
  --color-text-primary: #fff;
  --color-text-second: #aaa;
  --color-accent-1: #ee0;
  --color-accent-2: #5cf;
  --color-accent-3: #a6f;
  --gradient-purple: linear-gradient(var(--color-purple), var(--color-purple-dark));
  --font-accent: Eczar, Georgia, serif;
}

body {
  font-family: Nunito, Arial, sans-serif;
  background-image: url(trianglebg3.png);
  background-attachment: fixed;
  color: var(--color-text-primary);
}

header {
  display: flex;
  align-items: center;
  background-color: var(--color-chartreuse);
  padding: 3px;
  padding-right: 1rem;
  color: var(--color-purple-dark);
  position: sticky;
  top: 0;
}

h1 {
  font-family: var(--font-accent);
}

.header-title {
  font-weight: 500;
  font-size: 120%;
  text-align: left;
  margin-left: 0.5rem;
}

header nav {
  margin-left: auto;
  width: fit-content;
}

header ul {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  list-style: none;
}

header a, header a:visited {
  color: var(--color-purple-dark);
  text-decoration: none;
}

header a:hover, header a:active {
  background-color: white;
}

/* header a::before {
  content: "|  "
} */

/******* index *******/

#hero {
  border-bottom: white 2px solid;
  margin-bottom: 1rem;
  padding: 1rem;
  /* background: linear-gradient(var(--color-purple), var(--color-purple-dark)); */
  background: var(--gradient-purple); 
}

h1 {
  font-family: var(--font-accent);
}

#hero-title {
  font-size: min(14vi, 130px);
  font-weight: 500;
  text-align: center;
}

#hero-subtitle {
  text-align: center;
  font-weight: normal;
}

main {
  margin: 1rem;
  max-width: 600px;
}

section {
  margin-bottom: 3rem;
}

h2 {
  /* font-family: Eczar, Georgia, serif; */
  text-align: center;
  background-color: white;
  color: var(--color-purple-dark);
  width: fit-content;
  margin: auto;
}

.box {
  background-color: var(--color-purple);
  padding: 1rem;
}

.link {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}

.box a, .box a:visited {
  color: var(--color-text-primary);
  font-weight: 600;
}

.link a, .link a:visited {
  font-family: Eczar, Georgia, serif;
  font-size: 180%;
  font-weight: normal;
  /* text-decoration: none; */
}

.link a:hover, .link a:active {
  font-weight: 600;
}

.accent {
  font-family: var(--font-accent);
  font-size: 120%;
}

.note {
  font-style: italic;
}

.subtitle {
  font-weight: bold;
  margin-bottom: 1rem;
}

#work-box {
  text-align: center;
}

#about-box p {
  margin-bottom: 0.5rem; 
}

#contact-box {
  text-align: center;
}

#contact-box ul {
  list-style: none;
}

#contact-box li {
  margin-bottom: 1.5rem;
}

.contact-label {
  line-height: 80%;
}

.contact-link {
  line-height: 80%;
}

.contact-link a, .contact-link a:visited {
  font-family: Eczar, Georgia, serif;
  color: var(--color-text-primary);
  text-decoration: none;
}

.contact-link a:hover, .contact-link a:active {
  font-weight: 600;
}

footer {
  margin: 1rem auto;
  text-align: center;
  /* border-top: white 2px solid; */
  padding-top: 1rem;
  /* background-color: var(--color-chartreuse); */
  /* color: var(--color-purple-dark); */
}



/******* @ rules *******/

@media screen and (min-width: 600px) {
  header ul {
    gap: 2em;
    font-size: 120%;
  }

  h3 {
    font-size: 150%;
  }

  main {
    margin: 1rem auto;
  }
}